<h1><%= t('uffmail') %></h1>
<p><%= t('messages.insira_matricula') %></p>
<form data-toggle="validator" role="form">
  <div class="form-group">
    <label for="exampleInputMatricula"><%= t('matricula') %></label>
    <input type="matricula" class="form-control sm" id="exampleInputMatricula" placeholder="Sua matrícula">
  </div>
  <div class="actions">
    <%= link_to new_student_path, class: "btn btn-primary" do%>
      <span><%= t('access') %></span>
    <% end %>
  </div>
  <div class="dropdown-divider"></div>
  <div class="form-group">
    <label>Não é estudante?</label>
    <%= link_to students_path, class: "btn btn-link" do%>
      <span><%= t('messages.click') %></span>
    <% end %>
  </div>
</form>